<div class="container-fulid">


  
    <div class="card-total">
        <h4>Top Designers</h4>
        <div class="card-container"> 
            <div class="card">

                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">Taaras
                        <br>Fashions</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-xs-4 col-md-4">
                                    <h3>5</h3>
                                    <p>Events</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>50</h3>
                                    <p>Designs</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>25</h3>
                                    <p>Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card">
    
                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">Taaras
                        <br>Fashions</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-xs-4 col-md-4">
                                    <h3>5</h3>
                                    <p>Events</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>50</h3>
                                    <p>Designs</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>25</h3>
                                    <p>Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
    
                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">Taaras
                        <br>Fashions</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-xs-4 col-md-4">
                                    <h3>5</h3>
                                    <p>Events</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>50</h3>
                                    <p>Designs</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>25</h3>
                                    <p>Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
    
                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">Taaras
                        <br>Fashions</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-xs-4 col-md-4">
                                    <h3>5</h3>
                                    <p>Events</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>50</h3>
                                    <p>Designs</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>25</h3>
                                    <p>Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
    
                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">Taaras
                        <br>Fashions</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-xs-4 col-md-4">
                                    <h3>5</h3>
                                    <p>Events</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>50</h3>
                                    <p>Designs</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>25</h3>
                                    <p>Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
    
                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">Taaras
                        <br>Fashions</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-xs-4 col-md-4">
                                    <h3>5</h3>
                                    <p>Events</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>50</h3>
                                    <p>Designs</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>25</h3>
                                    <p>Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
    
                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">Taaras
                        <br>Fashions</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-xs-4 col-md-4">
                                    <h3>5</h3>
                                    <p>Events</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>50</h3>
                                    <p>Designs</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>25</h3>
                                    <p>Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="card">
    
                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">Taaras
                        <br>Fashions</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-xs-4 col-md-4">
                                    <h3>5</h3>
                                    <p>Events</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>50</h3>
                                    <p>Designs</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>25</h3>
                                    <p>Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
    
           
             <div class="card">
    
                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">Taaras
                        <br>Fashions</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-xs-4 col-md-4">
                                    <h3>5</h3>
                                    <p>Events</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>50</h3>
                                    <p>Designs</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>25</h3>
                                    <p>Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
    
                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">Taaras
                        <br>Fashions</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-xs-4 col-md-4">
                                    <h3>5</h3>
                                    <p>Events</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>50</h3>
                                    <p>Designs</p>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <h3>25</h3>
                                    <p>Sold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        </div>
      
        
</div>





